<!DOCTYPE html>
<html ng-app="ShoppingCartApp">
  <head>
    <meta charset="utf-8">
    <title>Shopping Cart App</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body ng-controller="CartCtrl as ctrl">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">
            My Shopping Cart App
          </a>
        </div>
      </div>
    </nav>
    <div class="container">
      <form ng-submit="ctrl.addToCart()">
        <div class="form-group">
            <label for="name">Item</label>
            <input class="form-control" type="text" ng-model="ctrl.newItem.name">
        </div>

        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input class="form-control" type="number" ng-model="ctrl.newItem.quantity">
        </div>

        <div class="form-group">
            <button class="btn btn-default" type="submit">Add</button>
            <button class="btn btn-error" type="button" ng-click="ctrl.checkout()">
                Checkout
            </button>
            <button class="btn btn-success" type="button" ng-click="ctrl.refreshCart()">
                Refresh
            </button>
        </div>
    </form>

    <div class="alert" role="alert" alert-dismissable ng-show="ctrl.msg">

        <button class="close" data-dismiss="alert">
            &times;
        </button>

        {{ ctrl.msg }}

    </div>

    <ul class="list-group">

        <li class="list-group-item" ng-repeat="i in ctrl.cart">

            {{ i.name }} &times; {{ i.quantity }}

        </li>

    </ul>

    </div>
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/bower_components/angular/angular.min.js"></script>

    <!-- Include our angular js files -->
    <script src="/js/index.js"></script>
    <script src="/js/services.js"></script>
    <script src="/js/controllers.js"></script>
  </body>
</html>